<h4> Welcome to Angular Trivia! In this game you will test your knowledge with trivia questions pulled from Open Trivia Database.</h4>
  <hr/>
  What you can do:
  <ul>
    <li>View the total amount of questions in each category on the category page</li>
    <li>Test your knowledge by seeing how many trivia questions you can get right on the questions page</li>
    <li>Change difficuly and categories at a click of a button</li>
    <li>See how your score compares to the questions answered</li>
  </ul>  
  <hr/>